@import "../../css/variables.less";
@fadePercentage: 60%;

.jenkins-job-list {
  list-style: none;
  padding: 0;
  margin: 0;

  ul {
    margin: 10px 0 0 20px;
  }

  li {
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
  }

  .jenkins-failed {
    background: fade(@cError, @fadePercentage);
  }

  .jenkins-unstable {
    background: fade(@cWarning, @fadePercentage);
  }

  .jenkins-ok {
    background: fade(@cSuccess, @fadePercentage);
  }

  .jenkins-disabled, .jenkins-not_built {
    color: fade(@cBackgroundText, 50%);
    background: @cDisabled;
  }

  .jenkins-disabled {
    text-decoration: line-through;
  }

  .jenkins-building {
    .spinner {
      display: inline-block;
    }
  }

  .spinner {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}