* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
  background: #F2F2E9;
  color: 000;
}

h1 {
  color: #85a394;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.hidden {
  display: none;
}